html {
    background-color: black;
    color: orange;
}

table {
    border-collapse: collapse;
    border: 2px solid orange;
}

th, td {
    border: 1px solid orange;
    padding: 8px;
}

#functionContainer {
    border: 1px solid orange;
    padding: 10px;
}

#functionHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

#workingDirectory {
    width: 100%;
    box-sizing: border-box;
}

#buttonContainer {
    border: 1px solid orange;
    padding: 10px;
}